doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/he.js')
    script(src='/javascripts/htmlparser.js')
    script(src='/javascripts/parse.js')
  body
    block content
    script(src='/javascripts/index.js')